@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
font-family: Didot;
}
h1 {font-family: Didot; font-size: 5em;color: #E60A4E} 

h2 {font-family: Didot; font-size: 2em;color:#38001C
}



h4 {font-family: Didot; font-size: 3em;
margin-top: 0; color: #7C0448

}

dt {
	font-size: 2em;
	font-weight: bold;
}