@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*14px*/

body {
  background-color: #FFFFFF;
  color: #38001C;
  margin: 0;
  padding: 40px;
  line-height: 1.75;
font-family: Didot;}
h1 {font-family: Didot; font-size: 4em;color: #E60A4E} 
h2 {font-family: Didot; font-size: 3em;color: #71005B}

h4 {font-family: Didot; font-size: 3em;
margin-top: 0; color: #7C0448

}

dt {font-size: 2em;color:#000000
	font-weight: bold;
}